@import url('../../styles/tokens.css');

.btn-group {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    box-shadow: var(--btn-shadow-bottom-xs);
    margin: 2px;
    outline: 3px solid transparent;
}

.btn-group:focus-within {
    outline: 3px solid rgba(0, 0, 0, 0.12);
}

.btn-group .btn {
    border-radius: 8px 0 0 8px;
    box-shadow: none;
    border: none;
    margin: 0;
}

.btn-group--disabled {
    opacity: 0.4;
    pointer-events: none;
}

.btn-group--primary,
.btn-group--destructive {
    border: 1px solid var(--btn-border-color-dark);
}

.btn-group--secondary {
    border: 1px solid var(--btn-border-color-secondary)    
}

.btn-group__addon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 0 8px 8px 0;
    border: none;
}

.btn-group__addon:disabled {
    opacity: 0.4;
}

.btn-group--primary .btn-group__addon {
    border-left: 1px solid var(--btn-border-color-dark);
    background-color: var(--btn-bg-primary-default);
    color: var(--text-color-inverted);
}

.btn-group--primary .btn-group__addon:hover {
    background-color: var(--btn-bg-primary-hover);
}

.btn-group--secondary .btn-group__addon {
    border-left: 1px solid var(--btn-border-color-secondary);
    background-color: var(--btn-bg-secondary-default);
    color: var(--text-color-default);
}

.btn-group--secondary .btn-group__addon:hover {
    background-color: var(--btn-bg-secondary-hover);
}

.btn-group--destructive .btn-group__addon {
    border-left: 1px solid var(--btn-border-color-dark);
    background-color: var(--btn-bg-destructive-default);
    color: var(--text-color-inverted);
}

.btn-group--destructive .btn-group__addon:hover {
    background-color: var(--btn-bg-destructive-hover);
}

.btn-group .btn:focus-visible,
.btn-group .btn-group__addon:focus-visible {
    outline: none;
    box-shadow: none;
}