@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-weight: var(--btn-font-weight);
    border: none;
    box-sizing: border-box;
    box-shadow: var(--btn-shadow-bottom-xs);
}

.btn:disabled {
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
}

.btn:focus-visible {
    outline: none;
    box-shadow: var(--btn-focus-ring-primary);
}

/* TAILLES */

.btn--m {
    height: 40px;
    padding: 8px 12px;
    gap: 8px;
    font-size: var(--btn-font-sz-ms);
    line-height: var(--line-height-ms);
}

.btn--s {
    height: 36px;
    padding: 8px 12px;
    gap: 8px;
    font-size: var(--btn-font-sz-ms);
    line-height: var(--line-height-ms);
}

.btn--xs {
    height: 34px;
    padding: 8px;
    gap: 4px;
    font-size: var(--btn-font-sz-xs);
    line-height: var(--line-height-xs);
}

/* PRIMARY */

.btn--primary {
    background-color: var(--btn-bg-primary-default);
    color: var(--text-color-inverted);
    border: 1px solid var(--btn-border-color-dark);
}

.btn--primary:hover {
    background-color: var(--btn-bg-primary-hover);
}

/* SECONDARY */

.btn--secondary {
    background-color: var(--btn-bg-secondary-default);
    color: var(--text-color-default);
    border: 1px solid var(--btn-border-color-secondary);
}

.btn--secondary:hover {
    background-color: var(--btn-bg-secondary-hover);
}


/* GHOST */

.btn--ghost {
    background-color: var(--btn-bg-ghost-default);
    color: var(--text-color-default);
    border: none;
}

.btn--ghost:hover {
    background-color: var(--btn-bg-ghost-hover);
}

.btn--ghost:focus-visible {
    background: rgba(0, 0, 0, 0.05);
    outline: none;
    box-shadow: var(--btn-focus-ring-primary);
}

/* DESTRUCTIVE */

.btn--destructive {
    background-color: var(--btn-bg-destructive-default);
    border: 1px solid var(--btn-border-color-dark);
    color: var(--text-color-inverted);
}

.btn--destructive:hover {
    background-color: var(--btn-bg-destructive-hover);
}

/* ICON ONLY */

.btn--icon-only {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 8px;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    box-shadow: var(--btn-shadow-bottom-xs);
}

.btn--icon-only:focus-visible {
    box-shadow: var(--btn-focus-ring-primary);
    outline: none;
}

.btn--icon-only:disabled {
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
}

.btn--icon-only-primary {
    background-color: var(--btn-bg-primary-default);
    border: 1px solid var(--btn-border-color-dark);
}

.btn--icon-only-primary:hover {
    background-color: var(--btn-bg-primary-hover);
}

/* ICON ONLY SECONDARY */

.btn--icon-only-secondary {
    background-color: var(--btn-bg-secondary-default);
    border: 1px solid var(--btn-border-color-secondary);
}

.btn--icon-only-secondary:hover {
    background-color: var(--btn-bg-secondary-hover);
}

/* ICON ONLY ALPHA DARK */

.btn--icon-only-alpha-dark {
    background-color:rgba(0, 0, 0, 0.2);
    border: none;
}

.btn--icon-only-alpha-dark:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

/* ICON ONLY ALPHA LIGHT */

.btn--icon-only-alpha-light {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
}

.btn--icon-only-alpha-light:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/* STYLE DU ICONE ET DE LA BADGE DANS LE BOUTON */

.leading-icon,
.trailing-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 20px;
    height: 20px;
}

.badge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 5px;
    gap: 8px;
    width: 20px;
    min-width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.btn--primary .badge,
.btn--destructive .badge {
    background: rgba(255, 255, 255, 0.2);
}